@model TARge21Shop.Models.Weather.OpenWeatherViewModel

<h1>Zocca</h1>

<div class="container">
    <h2>Forecast for the selected city</h2>

    <dl class="row ">
        <div class="form-group row">
            <label asp-for="Name" class="col-sm-2 col-form-label">City</label>
            @Html.DisplayFor(model => model.Name)
        </div>


        <div class="form-group row">
            <label asp-for="Mains.Temp" class="col-sm-2 col-form-label">Temperature</label>
            @Html.DisplayFor(model => model.Mains.Temp) &#8451;
        </div>


        <div class="form-group row">
            <label asp-for="Mains.Feels_like" class="col-sm-2 col-form-label">Temp Feels like</label>
            @Html.DisplayFor(model => model.Mains.Feels_like) &#8451;
        </div>
        <div class="form-group row">
            <label asp-for="Mains.Humidity" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Mains.Humidity) %
        </div>

        <div class="form-group row">
            <label asp-for="Mains.Pressure" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Mains.Pressure) Hpa
        </div>


        <div class="form-group row">
            <label asp-for="Winds.Speed" class="col-sm-2 col-form-label">Wind Speed</label>
            @Html.DisplayFor(model => model.Winds.Speed) km/h
        </div>


        <div class="form-group row">
            <label asp-for="Weathers[0].Description" class="col-sm-2 col-form-label">Weather Condition</label>
            @Html.DisplayFor(model => model.Weathers[0].Description)
        </div>
        <br />

        <div class="form-group col-md-offset-3 col-md-5">

            <a asp-action="index" class="btn btn-success">Return</a>
        </div>
    </dl>
</div>