@model IEnumerable<TARge21Shop.Models.Car.CarIndexViewModel>

<h1>Products</h1>

<div>
    <a asp-action="add" asp-controller="cars" type="submit" class="btn btn-primary">Add</a>
</div>

<form method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">Brand</th>
                <th scope="col">Type</th>
                <th scope="col">Model</th>
                <th scope="col">Color</th>
                <th scope="col">Price</th>
                <th scope="col">HorsePower</th>
                <th scope="col">Weight</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
            }
            @foreach (var car in Model)
            {
                    <tr>
                        <td>@i</td>
                        <td>@car.Brand</td>
                        <td>@car.Type</td>
                        <td>@car.Model</td>
                        <td>@car.Color</td>
                        <td>@car.Price</td>
                        <td>@car.HorsePower</td>
                        <td>@car.Weight</td>
                        <td>
                            <a asp-action="details" asp-controller="cars" asp-route-id="@car.Id" class="btn btn-success">Details</a>
                            <a asp-action="edit" asp-controller="cars" asp-route-id="@car.Id" class="btn btn-primary">Edit</a>
                            <a asp-action="delete" asp-controller="cars" asp-route-id="@car.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                i++;
            }
        </tbody>
    </table>
</form>
