@model IEnumerable<TARge21Shop.Models.Car.CarIndexViewModel>

@{
    int rowNumber = 1;
}

<div class="h1">
    Products
</div>

<div>
    <a asp-action="create" asp-controller="cars" type="submit" class="btn btn-primary">Create</a>
</div>

<form method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">Brand</th>
                <th scope="col">Model</th>
                <th scope="col">Color</th>
                <th scope="col">Fuel Type</th>
                <th scope="col">Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Cars in Model)
            {
                <tr>
                    <td>@rowNumber</td>
                    <td>@Cars.Brand</td>
                    <td>@Cars.Model</td>
                    <td>@Cars.Color</td>
                    <td>@Cars.FuelType</td>
                    <td>@Cars.Price</td>
                    <td>
                        <a asp-action="details" asp-controller="cars" asp-route-id="@Cars.Id" class="btn btn-info">Details</a>
                        <a asp-action="update" asp-controller="cars" asp-route-id="@Cars.Id" class="btn btn-primary">Update</a>
                        <a asp-action="delete" asp-controller="cars" asp-route-id="@Cars.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                rowNumber += 1;
            }
        </tbody>
    </table>
</form>